extends layout 

block content
    script(type="text/javascript").
        const token = "!{token}";
        console.log(token);
        console.log("postMessage de l'iframe")
        window.top.postMessage(`sso_session=${token}`, "*")